* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Verypaleblue: rgb(245, 247, 255);
    --Desaturatedblue: rgb(114, 128, 167);
    --Darkblue: rgb(31, 47, 86);
    --Paleblue: rgb(224, 232, 255);
    --Brightblue: rgb(56, 41, 224);
}

body {
    background-color: var(--Paleblue);
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card {
    margin: auto;
    height: 587px;
    width: 397px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 21px 49px 1px rgba(56, 41, 224, 0.19);
    -webkit-box-shadow: 1px 21px 49px 1px rgba(56, 41, 224, 0.19);
    -moz-box-shadow: 1px 21px 49px 1px rgba(56, 41, 224, 0.19);
}

.container .card img {
    width: 397px;
    margin-bottom: 40px;
    border-radius: 10px 10px 0 0;
}

.content {
    width: 80%;
    text-align: center;
    margin: auto;
}

.content h3 {
    font-weight: 900;
    font-size: 1.65rem;
    margin-bottom: 12px;
}

.content p {
    color: var(--Desaturatedblue);
    font-weight: 500;
    font-size: 0.95rem;
}

.plan {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 40px;
    background-color: hsl(225, 100%, 98%);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.plan .music img {
    height: 40px;
    width: 40px;
    margin-bottom: 0;
}

.plan .text {
    margin-right: 65px;
    text-align: left;
}

.plan .text h4 {
    font-weight: 900;
    color: black;
    margin-bottom: 2px;
}

.plan .text h6 {
    font-weight: 500;
    color: var(--Desaturatedblue);
    font-size: 0.8rem;
}

.link a {
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--Brightblue);
}

.link a:active {
    text-decoration: none;
    color: rgb(118, 108, 241);
}

.btn {
    padding: 15px 90px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 12px 26px 12px rgba(224, 232, 255, 1);
    -webkit-box-shadow: 1px 12px 26px 12px rgba(224, 232, 255, 1);
    -moz-box-shadow: 1px 12px 26px 12px rgba(224, 232, 255, 1);
    margin-bottom: 20px;
    background-color: var(--Brightblue);
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.btn:active {
    background-color: rgb(118, 108, 241);
}

h6 {
    font-weight: 700;
    color: var(--Desaturatedblue);
    font-size: 0.9rem;
    cursor: pointer;
}

h6:active {
    color: black;
}

@media(max-width:375px) {
    body {
        background-image: none;
    }

    .container .card {
        height: 530px;
        width: 320px;
        text-align: center;
    }

    .container .card img {
        width: 320px;
        margin-bottom: 40px;
    }

    .content {
        width: 78%;
    }

    .content p {
        font-size: 0.9rem;
    }

    .plan {
        margin: 20px 28px;
        padding: 15px;
        margin-bottom: 25px;
    }

    .plan .music img {
        height: 40px;
        width: 40px;
        margin-bottom: 0;
    }

    .plan .text {
        margin-right: 35px;
    }

    .plan .text h4 {
        font-size: 1rem;
    }

    .plan .text h6 {
        font-size: 0.8rem;
    }

    .btn {
        padding: 15px 60px;
        border-radius: 10px;
        margin-bottom: 15px;

    }



}